absl-py==2.0.0
accelerate==0.33.0
addict==2.4.0
aiofiles==23.2.1
aiohttp==3.8.4
aiolimiter==1.1.0
aioredis==2.0.1
aiosignal==1.3.1
aliyun-python-sdk-core==2.15.1
aliyun-python-sdk-kms==2.16.3
altair==5.4.1
annotated-types==0.7.0
anthropic==0.32.0
antlr4-python3-runtime==4.9.3
anyio==4.4.0
anytree==2.12.1
appnope==0.1.3
asgiref==3.8.1
asttokens==2.4.0
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
audioread==3.0.1
backcall==0.2.0
backoff==2.2.1
bce-python-sdk==0.9.17
beautifulsoup4==4.12.2
blinker==1.7.0
cachetools==5.3.2
camel-converter==3.1.2
captcha==0.5.0
certifi==2024.8.30
cffi==1.16.0
channels==4.0.0
chardet==5.2.0
charset-normalizer==3.3.2
clarifai==10.5.4
clarifai-grpc==10.6.6
click==8.1.7
clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
cohere==4.57
colorama==0.4.6
comm==0.1.4
contextlib2==21.6.0
contourpy==1.2.0
crcmod==1.7
cryptography==43.0.0
cssselect==1.2.0
cycler==0.12.1
dashscope==1.14.1
dataclasses-json==0.6.7
datasets==2.20.0
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
dill==0.3.8
distro==1.9.0
Django==5.0.7
dnspython==2.6.1
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing==2.0.0
faiss-cpu==1.7.4
fastavro==1.9.5
fastjsonschema==2.20.0
ffmpeg==1.4
ffprobe==0.5
ffprobe-python==1.0.3
filelock==3.15.4
fire==0.4.0
Flask==3.0.0
Flask-Login==0.6.3
flatbuffers==23.5.26
fonttools==4.44.3
frozenlist==1.4.1
fsspec==2024.5.0
ftfy==6.2.0
future==1.0.0
gast==0.5.4
gitdb==4.0.11
gitignore_parser==0.1.9
GitPython==3.1.40
gmssl==3.2.2
google-ai-generativelanguage==0.6.6
google-api-core==2.19.1
google-api-python-client==2.140.0
google-auth==2.33.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.1.0
google-generativeai==0.7.2
google-pasta==0.2.0
googleapis-common-protos==1.63.2
greenlet==3.0.3
groq==0.9.0
grpcio==1.64.1
grpcio-status==1.62.2
grpcio-tools==1.62.2
h11==0.14.0
h2==4.1.0
h5py==3.10.0
hpack==4.0.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
huggingface-hub==0.23.4
hyperframe==6.0.1
idna==3.6
imap-tools==1.5.0
importlib-metadata==6.11.0
inquirerpy==0.3.4
ipykernel==6.27.0
ipython==8.17.2
ipywidgets==8.1.1
isodate==0.6.1
itsdangerous==2.1.2
jedi==0.19.1
jieba==0.42.1
Jinja2==3.1.2
jiter==0.5.0
jmespath==0.10.0
joblib==1.3.2
json5==0.9.25
jsonlines==4.0.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-path==0.3.3
jsonschema-spec==0.2.4
jsonschema-specifications==2023.7.1
jupyter_client==8.4.0
jupyter_core==5.4.0
jupyterlab_widgets==3.0.11
keras==2.15.0
kiwisolver==1.4.5
lancedb==0.4.0
langchain==0.2.11
langchain-community==0.0.20
langchain-core==0.2.24
langchain-openai==0.1.19
langchain-text-splitters==0.2.2
langsmith==0.1.93
lazy-object-proxy==1.10.0
lazy_loader==0.3
libclang==16.0.6
libcst==1.0.1
librosa==0.10.1
llvmlite==0.41.1
loguru==0.6.0
lxml==5.2.2
manifest-ml==0.0.1
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.21.3
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdurl==0.1.2
meilisearch==0.21.0
ml-dtypes==0.2.0
modelscope==1.17.0
more-itertools==10.3.0
motor==3.5.1
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.5
multiprocess==0.70.16
mypy-extensions==1.0.0
narwhals==1.6.3
nbclient==0.9.0
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.2.1
nlpcloud==1.1.46
nltk==3.8.1
noise==1.2.2
nomic==3.1.1
numba==0.58.1
numpy==1.24.3
oauthlib==3.2.2
openai==1.37.1
openai-clip==1.0.1
openapi-core==0.18.2
openapi-schema-validator==0.6.2
openapi-spec-validator==0.7.1
opencv-python==4.8.1.78
openlm==0.0.5
openpyxl==3.1.5
opt-einsum==3.3.0
orjson==3.10.6
oss2==2.18.6
overrides==7.7.0
packaging==23.2
pandas==2.0.3
parse==1.20.2
parso==0.8.3
pathable==0.4.3
pexpect==4.8.0
pfzy==0.3.4
pickleshare==0.7.5
Pillow==10.1.0
platformdirs==3.11.0
playwright==1.45.0
pooch==1.8.0
portalocker==2.0.0
prance==23.6.21.0
prompt-toolkit==3.0.39
promptcap==1.0.3
proto-plus==1.24.0
protobuf==4.23.4
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyarrow==16.1.0
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycocoevalcap @ git+https://github.com/jmhessel/pycocoevalcap.git@f76c47defb8eb646545147f913b7023bbfcfcabe
pycocotools==2.0.8
pycparser==2.21
pycryptodome==3.20.0
pycryptodomex==3.20.0
pycurl==7.45.3
pydantic==2.5.3
pydantic_core==2.14.6
pydeck==0.9.1
pydub==0.25.1
pyee==11.1.0
Pygments==2.16.1
PyJWT==2.8.0
pylance==0.9.0
pymongo==4.8.0
pyparsing==3.1.1
PyPrind==2.11.3
pyquery==2.0.0
pyspider==0.3.10
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
python-rapidjson==1.19
pytz==2023.3.post1
PyWavelets==1.5.0
PyYAML==6.0.1
pyzmq==25.1.1
qdrant-client==1.7.0
qianfan==0.3.2
rank-bm25==0.2.2
ratelimiter==1.2.0.post0
redis==5.0.7
referencing==0.30.2
regex==2023.10.3
replicate==0.31.0
requests==2.32.3
requests-oauthlib==1.3.1
retry==0.9.2
rfc3339-validator==0.1.4
rich==13.6.0
rpds-py==0.19.0
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
sacrebleu==1.5.1
safetensors==0.4.3
schema==0.7.5
scikit-learn==1.5.1
scipy==1.11.3
seaborn==0.13.0
semantic-kernel==0.4.3.dev0
semver==3.0.2
sentencepiece==0.2.0
simplejson==3.19.2
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
socksio==1.0.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
SQLAlchemy==2.0.31
sqlitedict==2.1.0
sqlparse==0.5.0
stack-data==0.6.3
sympy==1.13.1
ta==0.10.2
tabulate==0.9.0
tblib==3.0.0
tenacity==8.2.2
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-macos==2.15.0
termcolor==2.4.0
threadpoolctl==3.2.0
tiktoken==0.7.0
tokenizers==0.19.1
toml==0.10.2
torch==2.4.0
torchvision==0.19.0
tornado==6.4.1
tqdm==4.66.5
traitlets==5.11.2
transformers==4.43.3
tritonclient==2.48.0
ttkbootstrap==1.10.1
typer==0.9.0
typing-inspect==0.8.0
typing_extensions==4.12.2
tzdata==2023.3
u-msgpack-python==2.8.0
uritemplate==4.1.1
urllib3==2.2.2
wcwidth==0.2.13
websocket-client==1.6.2
websockets==12.0
Werkzeug==3.0.1
widgetsnbextension==4.0.11
word2number==1.1
wrapt==1.15.0
WsgiDAV==4.3.3
WTForms==3.1.1
xxhash==3.4.1
yarl==1.9.4
zhipuai==2.0.1
zipp==3.19.2
